@import url('https://fonts.googleapis.com/css2?family=Amiko:wght@400;600;700&family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Amiko 400 600 700 */
/* Fira 100 - 900 */

:root {
  --main-color: #262730;
  --hilight-color: #77BA99;
  --dark-color: #0D1821;
  --secundary-color: #8A716A;
  --neutral-color: #F4EBE8;
}

body {
  font-family: "Amiko", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: var(--neutral-color);
  background-color: var(--main-color);
}

h1 {
  font-family: "Fira Sans", sans-serif;
  font-weight: 700;
  font-size: 54px;
}