# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

/src/private.js

# PocketBase
myapp/pocketbase/pocketbase
myapp/pocketbase/pocketbase.exe
myapp/pocketbase/pocketbase_*

# PocketBase data (données et logs)
myapp/pocketbase/pb_data/

# Mais on garde les migrations !
!myapp/pocketbase/pb_migrations/